{% extends 'base_dashboard.html.twig' %}

{% block title %}Edit OptionChoice{% endblock %}

{% block body %}
    <h1>Edit OptionChoice</h1>

    {{ include('option_choice/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
