{% extends 'base_dashboard.html.twig' %}

{% block title %}Edit Quiz{% endblock %}

{% block body %}
    <h1>Edit Quiz</h1>

    {{ include('quiz/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
