{% extends 'base.html.twig' %}

{% block title %}Ajouter un site de formation{% endblock %}

{% block body %}
    <div class="content">
        {% include 'components/head_navbar_custom.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Ajouter un site de formation</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mb-3">Ajouter un site de formation</h4>

                            {{ include('user/administration/center/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
