{% extends 'base_home.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}
    <div class="row row-cols-1 row-cols-md-2 g-4 ">
   {% for posts in post %}
         <div class="col">
            <div class="card h-100">
               <img src="..." class="card-img-top" alt="">
               <div class="card-body">
                  <h5 class="card-title text-center">{{ posts.title|raw }}</h5>
                  <p class="card-text">{{ posts.salary|raw }}.</p>
                  <p class="card-text">{{ posts.schedule|raw }}.</p>
                  <p class="card-text">{{ posts.description|raw }}.</p>
               </div>
            </div>
         </div>
   {% endfor %}
    </div>
{% endblock %}
