
{% block body %}

    <style>
       body {
           background-image: url("../images/image_maintenance_.gif");
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
       }

       .page__content
       {
           font-size: xxx-large;
           background: rgba(255,255,255,0.8);
           margin-top: 150px;
           margin-bottom: 210px;
           text-align: center;
       }

    </style>


    <div class="container pt-5 col-sm-12 col-md-9 col-lg-9 page__content ">
        <div class="card bg-light px-4 mb-5 ">
            <h1 class="card-header text-center"> Ressources Formation</h1>
            <div class="container px-4 mb-2 pt-2 text-center">


                <p>Votre site est momentanément indisponible pour maintenance !</p>

                <p id="dateheure"></p>
            </div>
        </div>
    </div>

    <script>
        // date du jour
        function pause(ms)
        {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function afficherDate()
        {
            while(true)
            {
                await pause(1000);
                var cejour = new Date();
                var options = {weekday: "long", year: "numeric", month: "long", day: "2-digit"};
                var date = cejour.toLocaleDateString("fr-FR", options);
                var heure = ("0" + cejour.getHours()).slice(-2) + ":" + ("0" + cejour.getMinutes()).slice(-2) + ":" + ("0" + cejour.getSeconds()).slice(-2);
                var dateheure = date + " " + heure;
                var dateheure = dateheure.replace(/(^\w{1})|(\s+\w{1})/g, lettre => lettre.toUpperCase());
                document.getElementById('dateheure').innerHTML = dateheure;
            }
        }
        afficherDate();
    </script>

{% endblock %}